{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

    <table class= "table table-full table-hover table-stripped">
        <tr>
            <th>Photo</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
        
        {% for cartRow in cart.getRows() %}
        {% set product = getProductById(cartRow.productId) %}
        <tr>
            <td>Photo</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ cartRow.quantity }}</td>
            <td>Actions</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Votre Panier est vide</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
