{% block header %}
<div class="row navbar">
	<div class="col mx-4">
		Besoin d'aide ? Contactez-nous: (+33) 09 30 40 50 60
	</div>

	<div class="col d-flex justify-content-end">
		<span class="mx-4">
			<i class="fa-solid fa-location-dot"></i><a href="">Notre magasin</a>
		</span>

		<span class="mx-4">
			<i class="fa-solid fa-truck"></i></i><a href="">Suivez votre commande</a>
		</span>
	</div>


</div>
{% endblock %}
