{# admin/field/vich_image.html.twig #}
{% if vich_uploader_asset(entity.instance, field.property, entity.fqcn) %}
    <a href ="{{ vich_uploader_asset(entity.instance, field.property, entity.fqcn) }}" Download>
    Download
    </a>

{% else %}
    <span class="badge badge-secondary">
        Empty 
    </span>
{% endif %}